.container h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #333;
}

.container .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.container .w-full{
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    border-radius: 30px;
    padding: 5px;
}

.container .w-full img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .p-4{
    font-size: 16px;
    color:#333;
}