/* html { font-size:31.25%; } 1rem = 5px */

/* Main content spacing */
main.content { padding: 4.08rem 0; flex:1; }

/* Hotels list */
.hotel-grid {
  margin: 2.16rem 6rem 0;
  display:grid;
  gap:1.92rem;
  grid-template-columns: repeat(3, 1fr);
}
.hotel-card {
  background: var(--card);
  border-radius: 1.44rem; /* 12×0.6 */
  overflow: hidden;
  box-shadow: var(--shadow);
  display:flex;
  flex-direction: column;
}

.hotel-card .promo-grid{
  background: linear-gradient(180deg, #f7f9fb, #eefcfc);
  display:flex;
  align-items:flex-end;
  padding:1.44rem; /* 12×0.6 */
}

.brand img{
  width: 100%;
  height: 70%;
}

.hotel-card .meta {
  padding:1.44rem 4.32rem; /* 12×0.6 36×0.6 */
  flex:1;
  display:flex;
  flex-direction:column;
}
.hotel-card h3 { margin:0 0 0.72rem; font-size:6rem; color:black } /* 50×0.6 */
.hotel-card p { margin:0 0 1.44rem; color:var(--muted); font-size:3.6rem; flex:1; } /* 30×0.6 */
.hotel-card .foot {
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding-top:0.72rem; /* 6×0.6 */
}
.hotel__price{font-size:3.6rem;} /* 30×0.6 */
.meta .cta{
  font-size:3.6rem; /* 30×0.6 */
  text-decoration: none;
  padding: 1.2rem 2.4rem; /* 10×0.6 20×0.6 */
  background-color: #0ea5a4;
  color: white;
}
